@import '../App.sass'
/* github.com/plasticneko
/* bulma css framework by jeremy thomas (github.com/jgthms | bulma.io)
.content
  padding-bottom: 50px
  p
    padding-bottom: 15px

.footer-custom
  padding: 30px

.single-content
  p
    padding-bottom: 15px
  padding-bottom: 50px

.header-content, .subheader-content
  padding-bottom: 20px

/* colour changes to the bulma framework

a
  color: $primary

.tabs li a.is-active
  border-bottom-color: $primary
  color: $primary

/* input select

.input:focus, .textarea:focus, input[type]:focus
  border: 1px solid $primary

.button.is-primary
  &:hover
    background-color: $primary
    color: white

.is-horizontal-center
  justify-content: center

.logo
  height: 120px
  display: inline
  margin: 1.5em 0 1.5em 0

.header
  margin: 1em

iframe
  display: block
  margin: 0 auto

.collection
  margin-bottom: 1em

.fa-spin
  font-size: 5em
  -webkit-animation: fa-spin 2s infinite linear
  animation: fa-spin 2s infinite linear

.fa-pulse
  -webkit-animation: fa-spin 1s infinite steps(8)
  animation: fa-spin 1s infinite steps(8)

@-webkit-keyframes fa-spin
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(359deg)
    transform: rotate(359deg)


@keyframes fa-spin
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(359deg)
    transform: rotate(359deg)

.loading
  height: 1000px

.hero.is-info.is-bold
  background-color: black
  background-size: cover
  background-repeat:no-repeat
  background-position: center center
  margin-bottom: 2rem

#page-hero
  padding: 3rem 1.5rem !important
  .title
    display: inline-block
    padding: 0.25rem
    color: hsl(192, 17%, 99%) !important
    background-color: rgba(0, 0, 0, 0.5)
  .subtitle
    display: inline-block
    color: hsl(192, 17%, 99%) !important
    padding: 0.5rem
    background-color: rgba(0, 0, 0, 0.5)

.page-container
  margin-top: 3rem

iframe
  max-width: 100%